.table-component {
    width: 83.3%;
    margin: 40px auto;
    border-radius: 4px 4px 0 0;
    border: 0;
    padding: 0;
    background: rgb(255, 250, 254);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.308);
}

.table {
    table-layout: fixed;
}

th:first-child {
    border-radius: 4px 0 0 0;
}

.th:last-child {
    border-radius: 0 4px 0 0;
}

.table-component::-webkit-scrollbar {
    width: 16px;
}

.table-component::-webkit-scrollbar-track {
    background: #ffffff;
}

.table-component::-webkit-scrollbar-thumb {
    background-color: #f5d6e7;
    border-radius: 10px;
    border: 3px solid #ffffff;
}


.table-component .table {
    width: 100%;
    padding: 0;
    border-radius: 4px;
    border-spacing: 0;
    border: 1px solid #ec598f3f;
}

.table tbody {
    width: 100%;
    display: block;
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.table thead {
    width: 100%;
    padding-right: 1px;
    display: block;
    color: #f5e6eb;
    background: #ec5990;
    border-radius: 4px 4px 0 0;
    text-shadow: 1px 1px #00000031;
    font-weight: 500;
    font-size: large;
}

.table th {
    width: 12%;
    padding: 32px;
    font-weight: 500;
    text-align: left;
    line-height: 26px;
}

.table td {
    width: 118px;
    max-width: 113px;

    word-wrap: break-word;
    padding: 16px 32px;
    border: 0;
    font-size: larger;
    font-weight: 450;
    border-bottom: 1px solid #ec598f3f;
}

.table .deposito {
    color: #33cc54;
}

.table .saque {
    color: #e52e4d;
}

.table .delete-td .delete {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 0;
    height: fit-content;
    margin: 0;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.308);
    background-color: transparent;
    transition: font-size 0.5s, background-color 1s;

}

.delete-icon {
    margin: auto
}



.table .delete-td .delete:hover {
    background-color: rgba(255, 0, 0, 0.671);
    border-color: transparent;
    font-size: medium;
    width: fit-content;
    border-radius: 6px;

    transition: font-size 0.5s, background-color 1s;
}

.table .add-th {
    padding-right: 0;
    padding-left: 9px
}

.table .add-th .add {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: 0;
    height: fit-content;
    margin: 0;
    border-radius: 4px;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.308);
    background-color: #f5e6eb;
    transition: font-size 0.5s, background-color 1s;

}

.add-icon {
    margin: auto
}



.table .add-th .add:hover {
    background-color: #33cc54;
    border-color: transparent;
    font-size: medium;
    width: fit-content;
    border-radius: 6px;

    transition: font-size 0.5s, background-color 1s;
}